# HR DATA ANALYSIS

**GOALS:** 
    
    1.Data cleansing involving "removing unnecessary columns".
    2.Giving the columns new names.
    3.Eliminating redundant entries.
    4.sanitizing specific columns.
    5.To eliminate the dataset's NaN values.
    6.Look for a few more changes if necessary

In [14]:
import pandas as pd
import numpy as np
df=pd.read_csv("HR Data.csv")

# **Removing unnecessary columns:**

In [15]:
columns_to_drop = ['EmployeeCount', 'Over18', 'StandardHours', 'EmployeeNumber','MaritalStatus']
df.drop(columns=columns_to_drop, inplace=True)

# Rename columns:

In [16]:
df.rename(columns={
    'MothlyIncome': 'MonthlyIncome',
    'NumCompaniesWork': 'NumCompaniesWorked',
    'RelationSatisfaction': 'RelationshipSatisfaction',
    'TrainingTimes': 'TrainingTimesLastYear'
}, inplace=True)

# Eliminate redundant entries:

In [17]:
df.drop_duplicates(inplace=True)

# Sanitize specific columns:

In [18]:
df['Age'] = df['Age'].astype(int)
df['MonthlyIncome'] = df['MonthlyIncome'].astype(float)

# Eliminate NaN values:

**Option 1:** Drop rows with any NaN values:

In [19]:
df.dropna(inplace=True)

**Option 2:** Fill NaN values with specific values or strategies:

In [20]:
df.fillna({
    'Age': df['Age'].mean(),
    'MonthlyIncome': df['MonthlyIncome'].median(),
}, inplace=True)

# Additional changes:

In [21]:
df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})

In [22]:
df['YearsAtCompanyOver10'] = df['YearsAtCompany'].apply(lambda x: 1 if x > 10 else 0)

**Check final dataset:**

In [23]:
print(df.head())
print(df.info())

   Age  Attrition     BusinessTravel  DailyRate              Department  \
0   41          1      Travel_Rarely       1102                   Sales
1   49          0  Travel_Frequently        279  Research & Development
2   37          1      Travel_Rarely       1373  Research & Development
3   33          0  Travel_Frequently       1392  Research & Development
4   27          0      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EnvironmentSatisfaction  \
0                 1          2  Life Sciences                        2
1                 8          1  Life Sciences                        3
2                 2          2          Other                        4
3                 3          4  Life Sciences                        4
4                 2          1        Medical                        1

   Gender  ...  RelationshipSatisfaction  StockOptionLevel  TotalWorkingYears  \
0       0  ...                         1                 0                  8
1       1  ...                         4                 1                 10
2       1  ...                         2                 0                  7
3       0  ...                         3                 0                  8
4       1  ...                         4                 1                  6

  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                     0                1               6                   4
1                     3                3              10                   7
2                     3                3               0                   0
3                     3                3               8                   7
4                     3                3               2                   2

   YearsSinceLastPromotion YearsWithCurrManager  YearsAtCompanyOver10
0                        0                    5                     0
1                        1                    7                     0
2                        0                    0                     0
3                        3                    0                     0
4                        2                    2                     0

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1470 entries, 0 to 1469
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int32
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   int64
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobLevel                  1470 non-null   int64
 13  JobRole                   1470 non-null   object
 14  JobSatisfaction           1470 non-null   int64
 15  MonthlyIncome             1470 non-null   float64
 16  MonthlyRate               1470 non-null   int64
 17  NumCompaniesWorked        1470 non-null   int64
 18  OverTime                  1470 non-null   object
 19  PercentSalaryHike         1470 non-null   int64
 20  PerformanceRating         1470 non-null   int64
 21  RelationshipSatisfaction  1470 non-null   int64
 22  StockOptionLevel          1470 non-null   int64
 23  TotalWorkingYears         1470 non-null   int64
 24  TrainingTimesLastYear     1470 non-null   int64
 25  WorkLifeBalance           1470 non-null   int64
 26  YearsAtCompany            1470 non-null   int64
 27  YearsInCurrentRole        1470 non-null   int64
 28  YearsSinceLastPromotion   1470 non-null   int64
 29  YearsWithCurrManager      1470 non-null   int64
 30  YearsAtCompanyOver10      1470 non-null   int64
dtypes: float64(1), int32(1), int64(24), object(5)
memory usage: 361.8+ KB
None

# Conclusions

1.Improved Data Quality:

By removing unnecessary columns such as EmployeeCount, Over18, StandardHours, and EmployeeNumber, we streamlined the dataset,   making it more manageable and focused on relevant attributes. This step was crucial in enhancing the overall quality and usability of the data.

2.Consistent Data Formatting:

Renaming columns with inconsistent or incorrect names, such as MothlyIncome to MonthlyIncome and NumCompaniesWork to NumCompaniesWorked, improved the clarity and readability of the dataset. Consistent naming conventions are essential for effective data analysis and visualization.

3.Handling Missing and Duplicate Data:

By eliminating duplicate entries and handling NaN values through appropriate imputation techniques, we ensured that the dataset is accurate and reliable. This process is vital in avoiding biases and inaccuracies in the subsequent analysis and modeling stages.

# Recommendations

1.Regular Data Audits:

Implement regular data audits to ensure ongoing data quality and consistency. Periodic reviews can help identify and rectify any discrepancies, missing values, or outdated information, maintaining the dataset's integrity over time.

2.Standardize Data Entry Processes:

Develop and enforce standardized data entry protocols to minimize errors and inconsistencies. Training employees on these standards and using automated data validation tools can significantly reduce the risk of incorrect data entries.

3.Explore Advanced Imputation Techniques:

For handling missing values, consider exploring advanced imputation techniques such as K-Nearest Neighbors (KNN) or machine learning-based methods. These techniques can provide more accurate estimates for missing data compared to simple mean or median imputation, especially in complex datasets.